/*SMARTPHONES*/

@media(max-width: 600px) {
    header label {
        display: block;
    }
    
    .menu ul {
        position: absolute;
        flex-direction: column;
        margin-left: 60%;
        margin-top: 40px;
        background: rgba(155, 152, 153, 0.3);
        display: none;
    }
    .menu ul li {
        padding: 20px;
        transition: background 0.5s;
    }
    .menu ul li a:hover{
        color: #fff;
    }
    .menu ul li:hover {
        background: #D2872C;
    }
    input[type=checkbox]:checked ~ .menu ul {
        display: block;
    }
    .page-home {
        flex-direction: column-reverse;
        text-align: center;
        padding: 50px;
    }
    .page-home .content {
        width: 100%;
        padding-left: 0;
        position: unset;
    }
    .page-home .background {
        width: 100%;
        margin-left: 0;
    
    }
    .page-home .content .btn {
        margin: 68px auto;
        
    }
}

/*TABLETS E DESKTOPS*/

@media (min-width: 601px) {
    .page-home .content {
        width: 100%;
        
    }
    .page-home .content h1 {
        font-size: 30px;
        margin-bottom: 20px;
    }
    .page-home .content p {
        font-size: 13px;
    }
    .page-home .content .btn {
        margin-top: 30px;
        width: 129px;
        height: 40px;
        border-radius: 10px;
    }
    .page-home .background {
        margin-left: -318px;
    }

}
@media (min-width: 801px) {
   
    .page-home .content h1 {
        font-size: 45px;
    }
    .page-home .content p {
        font-size: 19px;
    }
    .page-home .content .btn {
        width: 204px;
        height: 50px;
    }
    .page-home .background {
        margin-left: -442px;
    }

}

/*BIG LANDSCAPES*/

@media (min-width: 1025px) {

    .page-home .content h1 {
        font-size: 65px;
    }
    .page-home .content p {
        font-size: 28px;
    }
    .page-home .content .btn {
        margin-top: 30px;
        width: 300px;
        height: 60px;
        border-radius: 15px;
    }
    .page-home .background {
        margin-left: -517px;
    }

}

@media (min-width: 1281px) {

    .menu {
        font-size: 30px;
    }
    .page-home .content h1 {
        font-size: 80px;
    }
    .page-home .content p {
        font-size: 34px;
    }
    .page-home .content .btn {
        margin-top: 30px;
        width: 360px;
        height: 70px;
        border-radius: 20px;
    }
    .page-home .background {
        margin-left: -740px;
    }
}
